<ul class="menuGroup build">
    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">DESIGN. BUILD. RUN.</div>
            <span class="subline">Build a client app, explore use cases, and build on our demos and resources</span>
            <a href="https://developer.confluent.io/#designbuildrun" class="navItemGroupCta">
                Start Building
                <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
            </a>
        </div>
    </li>
    <li class="canonicalPadding">
        <ul class="singleContainer">
            <li class="navItem">
                <a href="https://developer.confluent.io/get-started/java/">
                    <img src={{"/assets/img/icon-docs-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title">Language Guides</div>
                        <span>Build apps in your favorite language</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/tutorials/">
                    <img src={{"/assets/img/icon-stream-processing-cookbook.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Tutorials</div>
                        <span>Hands-on stream processing examples </span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/demos-examples/">
                    <img src={{"/assets/img/icon-developer-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Demos</div>
                        <span>More resources to get you started</span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>