<ul class="menuGroup build">
    <ul>
        <li class="navItem">
            <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">
                <img src="assets/img/icon-book-light.svg" alt="" width="25" height="25">
                <div>
                    <div class="title">Articles</div>
                    <span>Concepts, Deep-Dives, and tutorials</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">
                <img src="assets/img/icon-stream-processing-cookbook.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">Patterns</div>
                    <span>Event streaming patterns</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">
                <img src="assets/img/icon-question-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">FAQ's</div>
                    <span>Frequently asked questions</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/">
                <img src="assets/img/icon-function-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">100 Days of code</div>
                    <span>Concepts, Deep-Dives, and tutorials</span>
                </div>
            </a>
        </li>
    </ul>
    <ul class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">What are the courses</div>
            <span class="subline">subline blurb</span>
            <a href="https://google.com" class="navItemGroupCta">
                View courses
                <img src="assets/img/icon-arrow-right-white.svg" width="15" height="15"/>
            </a>
        </div>
    </ul>
</ul>