<ul class="menuGroup community">
    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Join the Community</div>
            <span class="subline">
                Confluent proudly supports the global community of streaming platforms, real-time data streams,
                Apache Kafka®️, and its ecosystems
            </span>
            <a href="https://www.confluent.io/community" class="navItemGroupCta">
                Learn More
                <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
            </a>
        </div>
    </li>
    <li class="canonicalPadding">
        <ul class="singleContainer">
            <li class="navItem">
                <a href="https://www.kafka-summit.org/">
                    <img src={{"/assets/img/icon-kafka-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title">Kafka Summit and Current Conferences</div>
                        <span>Premier data streaming events</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://events.confluent.io/meetups">
                    <img src={{"/assets/img/icon-venue-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Meetups & Events</div>
                        <span>Kafka and data streaming community</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.confluent.io/community/ask-the-community/">
                    <img src={{"/assets/img/icon-question-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Ask the Community</div>
                        <span>Community forums and Slack channels</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
            <a href="https://www.confluent.io/nominate/">
                <img src={{"/assets/img/icon-catalyst-light.svg" | relative_url }} alt="" width="25" height="25"/>
                <div>
                    <div class="title">Community Catalysts</div>
                    <span>Sharing expertise with the community</span>
                </div>
            </a>
        </li>
        </ul>
    </li>
</ul>