<ul class="menuGroup community">
    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Join the Community</div>
            <span class="subline">
                Confluent proudly supports the global community of streaming platforms, real-time data streams,
                Apache Kafka®️, and its ecosystems
            </span>
            <a href="https://www.confluent.io/community" class="navItemGroupCta">
                Learn More
                <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
            </a>
        </div>
    </li>

    <li class="navItemMainColumns">
        <ul class="firstColumn">
            <li class="navItem">
                <a href="https://www.meetup.com/pro/confluent/">
                    <img src={{"/assets/img/icon-venue-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Meetups & Events</div>
                        <span>Kafka and data streaming community</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.confluent.io/community/ask-the-community/">
                    <img src={{"/assets/img/icon-question-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Ask the Community</div>
                        <span>Community forums and Slack channels</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/catalysts/">
                    <img src={{"/assets/img/icon-catalyst-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Community Catalysts</div>
                        <span>Sharing expertise with the community</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/newsletter/">
                    <img src={{"/assets/img/icon-mail-light.png" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">DevX Newsletter</div>
                        <span>Bi-weekly newsletter with Apache Kafka® resources, news from the community, and fun links.</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.datastreamingawards.io/">
                    <img src={{"/assets/img/icon-current-light.png" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Data Streaming Awards</div>
                        <span>Nominate amazing use cases and view previous winners</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="secondColumn">
            <li class="navItem">
                <a href="https://www.kafka-summit.org/events/kafka-summit-london-2024/register">
                    <img src={{"/assets/img/icon-kafka-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title"><span class="new">NEW</span> Kafka Summit 2024 - London</div>
                        <span>Register now!</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.kafka-summit.org/events/kafka-summit-bangalore-2024/agenda">
                    <img src={{"/assets/img/icon-kafka-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title"><span class="new">NEW</span> Kafka Summit 2024 - Bangalore</div>
                        <span>View agenda. Registration opening soon!</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://sessionize.com/current-2024/">
                    <img src={{"/assets/img/icon-current-light.png" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title"><span class="new">NEW</span> Current 2024</div>
                        <span>Call for Papers now open!</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.confluent.io/events/current/">
                    <img src={{"/assets/img/icon-current-light.png" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Current 2023</div>
                        <span>View sessions and slides from Current 2023</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://www.kafka-summit.org/kafka-summit-london-2023">
                    <img src={{"/assets/img/icon-kafka-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title">Kafka Summit 2023</div>
                        <span>View sessions and slides from Kafka Summit 2023</span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>