<ul class="menuGroup courses">

    <ul class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="groupWrapperHeading">
                <div class="circledBoundary">
                    <img src="/tutorials/assets/img/icon-book-light.svg" width="35" height="35" alt=""/>
                </div>
                <div>
                    <div class="title">What are the courses</div>
                    <span class="subline">subline blurb</span>
                    <a href="https://google.com" class="navItemGroupCta">
                        View courses
                        <img src="/tutorials/assets/img/icon-arrow-right-white.svg" width="15" height="15"/>
                    </a>
                </div>
            </div>
        </div>
    </ul>

    <ul class="navItemMainColumns">
        <ul>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/" class="title">
                    Apache Kafka 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Kafka Connect 101
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/" class="title">
                    <div>
                        <span class="new">NEW</span> Kafka Streams 101
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/" class="title">
                    Data Mesh 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/" class="title">
                    ksqlDB 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/" class="title">
                    Inside ksqlDB
                </a>
            </li>
            </ul>
        <ul>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/" class="title">
                    Spring Framework and Apache Kafka
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/" class="title">
                    Building Data Pipelines with Apache Kafka and Confluent
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/" class="title">
                    <div>
                        <span class="new">NEW</span> Event Sourcing and Event Storage with Apache Kafka
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/architecture/get-started/" class="title">
                    Kafka Internals
                </a>
            </li>
        </ul>
    </ul>
</ul>