<ul class="menuGroup courses">

    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="groupWrapperHeading">
                <div>
                    <div class="title">What are the courses?</div>
                    <span class="subline">Video courses covering Apache Kafka basics, advanced concepts, setup and use cases, and everything in between.</span>
                    <a href="https://developer.confluent.io/courses/#fundamentals" class="navItemGroupCta">
                        Learning pathways (24)
                        <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
                    </a>
                </div>
            </div>
        </div>
    </li>

    <li class="navItemMainColumns">
        <ul class="firstColumn">
            <li class="navItem">
                New Courses
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/apache-flink/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Apache Flink® 101
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/flink-java/overview/" class="title">
                    <div>
                        <span class="new">NEW</span> Building Flink® Apps in Java
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/apache-kafka-for-dotnet/" class="title">
                    <div>
                        <span class="new">NEW</span> Kafka® for .NET Developers
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/event-modeling/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Practical Event Modeling
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/hybrid-cloud/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Hybrid and Multicloud Architecture
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/data-streaming-systems/overview/" class="title">
                    <div>
                        <span class="new">NEW</span> Mastering Production Data Streaming Systems with Apache Kafka®
                    </div>
                </a>
            </li>
        </ul>
        <ul class="secondColumn">
            <li class="navItem">
                Featured Courses
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/apache-kafka/events/" class="title">
                    Kafka® 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/kafka-connect/intro/" class="title">
                    Kafka® Connect 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/kafka-streams/get-started/" class="title">
                    Kafka Streams 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/schema-registry/key-concepts/" class="title">
                    Schema Registry 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/ksqldb/intro/" class="title">
                    ksqlDB 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/courses/data-mesh/intro/" class="title">
                    Data Mesh 101
                </a>
            </li>
        </ul>
    </li>
</ul>