<ul class="menuGroup courses">

    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="groupWrapperHeading">
                <div>
                    <div class="title">What are the courses?</div>
                    <span class="subline">Video courses covering Apache Kafka basics, advanced concepts, setup and use cases, and everything in between.</span>
                    <a href="https://developer.confluent.io/learn-kafka/" class="navItemGroupCta">
                        View all courses
                        <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
                    </a>
                </div>
            </div>
        </div>
    </li>

    <li class="navItemMainColumns">
        <ul class="firstColumn">
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/" class="title">
                    Kafka® 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/architecture/get-started/" class="title">
                    <div>
                        <span class="new">NEW</span> Kafka® ️Internal Architecture
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Kafka® Connect 101
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/security/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> ️Kafka® Security
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/" class="title">
                    Kafka Streams 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/" class="title">
                    Event Sourcing and Storage
                </a>
            </li>
        </ul>
        <ul class="secondColumn">
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/" class="title">
                    Data Mesh 101
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/" class="title">
                    <div>
                        ksqlDB 101
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/" class="title">
                    Inside ksqlDB
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/spring/apache-kafka-intro/" class="title">
                    Spring Frameworks and Kafka®
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/" class="title">
                    Building Data Pipelines
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/confluent-cloud-networking/intro/" class="title">
                    <div>
                        <span class="new">NEW</span> Confluent Cloud Networking
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>