<ul class="menuGroup docs">

    <ul class="navItemMainColumns">
        <ul>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">
                    <img src="/tutorials/assets/img/icon-docs-light.svg" alt="" width="25" height="25">
                    <div>
                        <div class="title">Docs Home</div>
                        <span>Concepts, Deep-Dives, and tutorials</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">
                    <img src="/tutorials/assets/img/icon-cloud-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Cloud</div>
                        <span>Event streaming patterns</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">
                    <img src="/tutorials/assets/img/icon-platform-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Platform</div>
                        <span>Frequently asked questions</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/">
                    <img src="/tutorials/assets/img/icon-connector-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Connectors</div>
                        <span>Concepts, Deep-Dives, and tutorials</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/">
                    <img src="/tutorials/assets/img/icon-service-apps-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Tools</div>
                        <span>Concepts, Deep-Dives, and tutorials</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/">
                    <img src="/tutorials/assets/img/icon-join-data-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Clients</div>
                        <span>Concepts, Deep-Dives, and tutorials</span>
                    </div>
                </a>
            </li>
        </ul>
    </ul>
    <ul class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Some content here</div>
            <span class="subline">subline blurb</span>
            <a href="https://google.com" class="navItemGroupCta">
                Read more
                <img src="/tutorials/assets/img/icon-arrow-right-white.svg" width="15" height="15"/>
            </a>
        </div>
    </ul>
</ul>