<ul class="menuGroup docs">
    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Get started for free</div>
            <span class="subline">
                Use the Cloud quick start to get up and running with Confluent Cloud using a basic cluster
            </span>
            <a href="https://docs.confluent.io/cloud/current/get-started/index.html" class="navItemGroupCta">
                Learn more
                <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
            </a>
        </div>
    </li>
    <li class="navItemMainColumns">
        <ul class="firstColumn">
            <li class="navItem">
                <a href="https://docs.confluent.io/home/overview">
                    <img src={{"/assets/img/icon-docs-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title">Documentation</div>
                        <span>Guides, tutorials, and reference</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://docs.confluent.io/cloud/current/overview">
                    <img src={{"/assets/img/icon-cloud-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Cloud</div>
                        <span>Fully managed, cloud-native service</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://docs.confluent.io/platform/current/overview">
                    <img src={{"/assets/img/icon-platform-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Platform</div>
                        <span>Enterprise-grade distribution of Kafka</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="secondColumn">
            <li class="navItem">
                <a href="https://docs.confluent.io/home/connect/overview">
                    <img src={{"/assets/img/icon-connector-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Connectors</div>
                        <span>Stream data between Kafka and other systems</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://docs.confluent.io/home/tools/overview">
                    <img src={{"/assets/img/icon-service-apps-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Tools</div>
                        <span>Operational and developer tools</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://docs.confluent.io/home/clients/overview">
                    <img src={{"/assets/img/icon-join-data-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Clients</div>
                        <span>Use clients to produce and consume messages</span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>