<ul class="menuGroup learn">
    <li class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Pick your learning path</div>
            <span class="subline">A wide range of resources to get you started</span>
            <a href="https://developer.confluent.io/learn-kafka/" class="navItemGroupCta">
                Start Learning
                <img src={{"/assets/img/icon-arrow-right-white.svg" | relative_url }} alt="" width="15" height="15"/>
            </a>
        </div>
    </li>
    <li class="navItemMainColumns">
        <ul class="firstColumn">
            <li class="navItem">
                <a href="https://developer.confluent.io/learn/">
                    <img src={{"/assets/img/icon-book-light.svg" | relative_url }} alt="" width="25" height="25">
                    <div>
                        <div class="title">Articles</div>
                        <span class="navItemSubline">Deep-Dives into key concepts</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/patterns/">
                    <img src={{"/assets/img/icon-stream-processing-cookbook.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Patterns</div>
                        <span class="navItemSubline">Architectures for event streaming</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn/apache-kafka-faqs/">
                    <img src={{"/assets/img/icon-question-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">FAQs</div>
                        <span class="navItemSubline">Q & A about Kafka®️ and its ecosystem</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/100-days-of-code/">
                    <img src={{"/assets/img/icon-function-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">100 Days of code</div>
                        <span class="navItemSubline">A self-directed learning path</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="secondColumn">
            <li class="navItem">
                <a href="https://www.confluent.io/blog/">
                    <img src={{"/assets/img/icon-blog-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Blog</div>
                        <span class="navItemSubline">The Confluent blog</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/podcast/">
                    <img src={{"/assets/img/icon-podcast-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Podcast</div>
                        <span class="navItemSubline">Our podcast, Streaming Audio</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/live/">
                    <img src={{"/assets/img/icon-videos-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Confluent Developer Live</div>
                        <span class="navItemSubline">Free live professional training</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/coding-in-motion-sound-and-vision-build-a-data-streaming-app-with-javascript/">
                    <img src={{"/assets/img/icon-stream-processing-light.svg" | relative_url }} alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Coding in Motion</div>
                        <span class="navItemSubline">Build a real-time streaming app</span>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>