<ul class="menuGroup learn">
    <ul class="navItemMainColumns">
        <ul>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn/">
                    <img src="/tutorials/assets/img/icon-book-light.svg" alt="" width="25" height="25">
                    <div>
                        <div class="title">Articles</div>
                        <span class="navItemSubline">Deep-Dives into key concepts</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/patterns/">
                    <img src="/tutorials/assets/img/icon-stream-processing-cookbook.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">Patterns</div>
                        <span class="navItemSubline">Architectures for event streaming</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/learn/apache-kafka-faqs/">
                    <img src="/tutorials/assets/img/icon-question-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">FAQ's</div>
                        <span class="navItemSubline">Q & A about Kafka®️ and its ecosystem</span>
                    </div>
                </a>
            </li>
            <li class="navItem">
                <a href="https://developer.confluent.io/100-days-of-code/">
                    <img src="/tutorials/assets/img/icon-function-light.svg" alt="" width="25" height="25"/>
                    <div>
                        <div class="title">100 Days of code</div>
                        <span class="navItemSubline">A self-directed learning path</span>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
        <li class="navItem">
            <a href="https://www.confluent.io/blog/">
                <img src="/tutorials/assets/img/icon-blog-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">Blog</div>
                    <span class="navItemSubline">The official Confluent blog</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/podcast/">
                <img src="/tutorials/assets/img/icon-podcast-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">Podcast</div>
                    <span class="navItemSubline">Our podcast, Streaming Audio</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/live/">
                <img src="/tutorials/assets/img/icon-videos-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">Confluent Developer Live</div>
                    <span class="navItemSubline">Free live professional training</span>
                </div>
            </a>
        </li>
        <li class="navItem">
            <a href="https://developer.confluent.io/coding-in-motion-sound-and-vision-build-a-data-streaming-app-with-javascript/">
                <img src="/tutorials/assets/img/icon-stream-processing-light.svg" alt="" width="25" height="25"/>
                <div>
                    <div class="title">Coding in Motion</div>
                    <span class="navItemSubline">Build a real-time streaming app</span>
                </div>
            </a>
        </li>
    </ul>
    </ul>
    <ul class="wrapperSection">
        <div class="navItemGroupWrapper">
            <div class="title">Pick your learning path</div>
            <span class="subline">A wide range of resources to get you started</span>
            <a href="https://developer.confluent.io/learn-kafka/" class="navItemGroupCta">
                Start Learning
                <img src="/tutorials/assets/img/icon-arrow-right-white.svg" width="15" height="15"/>
            </a>
        </div>
    </ul>
</ul>