_site/
target/
build/
.gradle/
.idea/
.idea/*
.sass-cache/
.jekyll-cache/
.jekyll-metadata
node_modules/
out/
.DS_Store
harness_runner/harness_runner.egg-info
__pycache__
.vscode
*.iml
*.iws
*.ipr
.classpath
.settings/
.project
bin/
s3_website.yml
harness_runner/harness_runner.pyc
*_checklist.txt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore this directory that gets used for gitpod tutorials
tutorial-workspace
