---
---
<!DOCTYPE html>
<html>
  <head>
    {% include vendors.html %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/sass/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    {% include nav.html %}

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-5">
            <div class="has-text-centered">
              <h1 class="title is-1">Confluent Developer</h1>
              <img src="/assets/img/C_large_logo.png" height="50%" width="50%">
              <h2 class="subtitle">Confluent Platform makes it easy to build real-time data pipelines and streaming applications. This website is a collection of guides to help you get started with confidence.</h2>
            </div>
          </div>
          <div class="column is-7 is-offset-1">
            <div class="has-text-left">
              <div class="confluent-recipes-block">
                <h1 class="title">I want to use Kafka to...</h1>

                <div class="confluent-recipes">
                  <div class="columns">
                    <div class="column is-half">
                      <div class="columns">
                        <div class="column is-1">
                          <span class="icon">
                            <i class="fas fa-exchange-alt"></i>
                          </span>
                        </div>
                        <div class="column is-11">
                          <h6 class="subtitle is-6"><strong>Apply a function to data</strong></h6>
                          <ul class="recipe-list">
                            <li><a href="/recipes/transform-a-stream-of-events/ksql.html">Transform a stream of events</a></li>
                            <li><a href="/recipes/filter-a-stream-of-events/ksql.html">Filter a stream of events</a></li>
                            <li><a href="/recipes/split-a-stream-of-events-into-substreams/ksql.html">Split a stream of events into substreams</a></li>
                            <li><a href="/recipes/merge-many-streams-into-one-stream/ksql.html">Merge many streams into one stream</a></li>
                            <li><a href="#">Change event serialization formats</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="column is-half">
                      <div class="columns">
                        <div class="column is-1">
                          <span class="icon">
                            <i class="fas fa-grip-vertical"></i>
                          </span>
                        </div>
                        <div class="column is-11">
                          <h6 class="subtitle is-6"><strong>Join data</strong></h6>
                          <ul class="recipe-list">
                            <li><a href="/recipes/join-a-stream-to-a-table/kstreams.html">Join a stream and a table together</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="columns">
                    <div class="column is-half">
                      <div class="columns">
                        <div class="column is-1">
                          <span class="icon">
                            <i class="fas fa-clock"></i>
                          </span>
                        </div>
                        <div class="column is-11">
                          <h6 class="subtitle is-6"><strong>Collect data over time</strong></h6>
                          <ul class="recipe-list">
                            <li><a href="#">Create tumbling windows</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
