---
---

<!DOCTYPE html>
<html>
  <head>
    {% include vendors.html %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/sass/main.css" />
  </head>
  <body class="pg-main">
    <section class="section top">
      <div class="container">
        {% include logo.html %}
      </div>
    </section>

    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="headline">
            <h2>
              <div>Become an event</div>
              <div>streaming guru.</div>
            </h2>
          </div>
        </div>
      </div>
    </section>
    <div class="cards-container">
      <div class="cards">
        <div class="card">
          <div class="title">
            <img src="/assets/img/icon-function.svg" />
            <div>Apply a function to data.</div>
          </div>
          <ul>
            <li>
              <a href="/recipes/filter-a-stream-of-events/ksql.html">
                <strong>Transform a stream</strong> of events
              </a>
            </li>
            <li>
              <a href="/recipes/split-a-stream-of-events-into-substreams/kstreams.html">
                <strong>Filter a stream</strong> of events
              </a>
            </li>
            <li>
              <a href="/recipes/filter-a-stream-of-events/kafka.html">
                <strong>Split a stream of events</strong> into substreams
              </a>
            </li>
            <li>
              <a href="#"><strong>Merge many streams</strong> into one stream</a>
            </li>
            <li>
              <a href="#"><strong>Change event serialization</strong> formats</a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="title">
            <img src="/assets/img/icon-time.svg" />
            <div>Collect data over time.</div>
          </div>
          <ul>
            <li>
              <a href="#">Create <strong>tumbling windows</strong></a>
            </li>
            <li>
              <a href="#">Create <strong>hopping windows</strong></a>
            </li>
            <li>
              <a href="#">Create <strong>session windows</strong></a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="title">
            <img src="/assets/img/icon-join.svg" />
            <div>Join data.</div>
          </div>
          <ul>
            <li>
              <a href="#"><strong>Join two streams</strong> of events together</a>
            </li>
            <li>
              <a href="#"><strong>Join a stream</strong> and a table together</a>
            </li>
            <li>
              <a href="#"><strong>Join two tables</strong> together</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-cta">
        <div>Join the Community. Contribute a recipe.</div>
        <div><a href="#">Submit</a></div>
      </div>
    </div>

    {% include footer.html %}
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </body>
</html>
