name: kafka-tutorials
lang: unknown
lang_version: unknown
git:
  enable: true
github:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  branches:
  - master
  - release
  - ksqldb-latest
