@import "_vars";

.footer {
  background: #fff;
  font-size: 14px;
  font-weight: 300;
  color: $footerColor;
  padding-bottom: 2rem;

  .nav-links {
    ul {
      display: inline-block;
      margin-right: 40px;
      vertical-align: top;
      line-height: 2.43;
      margin-bottom: 40px;
      min-width: 150px;

      &.small {
        min-width: auto;
        max-width: 130px;
      }

      &.large {
        max-width: 170px;
      }
    }

    > ul > li {
      &:first-child {
        font-weight: 500;
        margin-bottom: 20px;
        font-size: 16px;
      }

      a {
        color: $footerColor;
      }

      ul {
        padding-left: 10px;
      }
    }
  }

  .social-links {
    font-size: 0;

    ul {
      white-space: nowrap;
    }

    li {
      display: inline-block;
      margin-right: 15px;
    }

    li a {
      color: $footerColor;
      font-size: 22px;
    }
  }

  .copyright {
    p {
      color: $footerColor;
      font-size: 10px;
      font-weight: 300;
      display: inline;
    }

    a {
      font-weight: 300;
      color: $footerColor;
    }

    a:hover {
      text-decoration: underline;
    }

    p:first-child {
      font-size: 11px;
      margin-right: 10px;
      line-height: 1.5;
      padding: 0;
    }

    @media screen and (max-width: 1079px) {
      text-align: center;
    }
  }
}
