#mkto-form {
  margin-top: 20px;
  width: 70%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    form {
      border-radius: 30px;
      border: solid 2px #192048;
      padding: 2px;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      position: absolute;
      background: #fff;
      opacity: 0;
      transition: opacity .4s ease-in-out;
      display: none;

      &.active {
        display: flex;
        opacity: 1;
      }

      input {
        width: calc(100% - 190px);
        position: relative;
        left: 20px;
        font-size: 16px;
        height: 40px;
        outline: 0;
        border: 0;
      }

      .cta-button {
        position: absolute;
        right: 2px;
        color: #fff;
        background-color: #192048;
        border: solid 2px #192048;
        top: 2px;
      }
    }
  }

  .cta-button {
    font-size: 16px;
    padding: 10px 40px;
    max-width: 200px;
    z-index: 1;
  }
}

@media screen and (max-width: 1079px) {

  #mkto-form {
    width: 100%;

    .form {
      form {
        flex-direction: column;
        position: absolute;
        border: 0;

        input {
         width: 100%;
          left: 0;
          border: solid 2px #192048;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 10px;
        }

        .cta-button {
          position: relative;
          top: 0;
          right: 0;
          border-radius: 10px;
          width: 100%;
          max-width: none;
        }
      }
    }
  }


}