@mixin title {
  font-size: 18px;
  font-weight: bold;
  color: $baseColor;
}

@mixin text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  color: $textColor;
}

@mixin p {
  font-size: 1rem;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5;
  padding-bottom: 15px;
}

@mixin button {
  display: inline-block;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "MarkOT";
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid $color_denim;
  background: $color_denim;
  color: #fff;
  padding: 12px 30px;
  transition: all 0.25s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $color_white;
    background: $color_academy;
    border-color: $color_academy;
  }
}

@mixin for-mobile {
  @media screen and (max-width: #{$small - 1}) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (max-width: #{$medium - 1}) {
    @content;
  }
}

@mixin for-tablet-only {
  @media screen and (min-width: $small) and (max-width: #{$medium - 1}) {
    @content;
  }
}
