@mixin title {
  font-size: 18px;
  font-weight: bold;
  color: $baseColor;
}

@mixin text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  color: $textColor;
}

@mixin p {
  font-size: 1rem;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5;
}
