@font-face {
    font-display: swap;
    font-family: "MarkPro-Bold";
    src: url("../fonts/MarkPro-Bold.woff2") format("woff2");
  }
  
@font-face {
    font-display: swap;
    font-family: "MarkPro-Medium";
    src: url("../fonts/MarkPro-Medium.woff2") format("woff2");
}


@mixin ff_medium() {
    font-family: "MarkPro-Medium", Arial, sans-serif;
}

@mixin ff_narrowBold() {
    font-family: "MarkPro-Bold", Arial, sans-serif;;
}
