$color_academy: #0074a2;
$color_denim: #173361;
$color_island: #38cced;
$color_midnight: #040531;

$color_black: #000;
$color_carbon: #829494;
$color_dimGray:#4c4c4d;
$color_darkCharcoal:#333; 
$color_iceBlue: #e6f5fb;
$color_ltGray:#eceeee;
$color_grey: #58788c;
$color_grey10: rgba($color_grey, 0.1);
$color_tomato:#fd672f;
$color_white: #fff;
$color_whiteSmoke:#f9f9f9;
$footerColor: #2a2a2d;

$color_academy: #0074a2;
$color_black: #000;
$color_carbon: #829494;
$color_denim: #173361;
$color_iceBlue: #e6f5fb;
$color_midnight: #040531;
$color_white: #fff;
$color_island: #38cced;

$extraSmall: 479px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extraLarge: 1600px;

$header-height: 85px;