$baseColor: #173361;
$textColor: #000000;
$footerColor: #2a2a2d;

$color_academy: #0074a2;
$color_black: #000;
$color_carbon: #829494;
$color_denim: #173361;
$color_iceBlue: #e6f5fb;
$color_midnight: #040531;
$color_white: #fff;
$color_island: #38cced;

// breakpoints
$extraSmall: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extraLarge: 1600px;
