---
---

@import "bulma/bulma";

pre {
    background-color: transparent;
    padding: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

pre > code.hljs {
    padding: 2.25em 4.3em 2.25em 1.25em;
}

pre.snippet {
    margin-top: 15px;
    margin-bottom: 15px;
}

.snippet-wrapper {
    position: relative;
}

.hero.recipe-hero {
    background-color: #344fa2;

    .title {
        color: #ffffff;
    }

    .recipe-problem {
        color: #ffffff;
    }

    strong {
        color: #ffffff;
    }
}

section.section {
    padding-bottom: 1.5rem;
}

.confluent-recipes-block {
    margin-top: 0.7rem;
}

.recipe-try-it-step {
    margin-bottom: 30px;
}

.recipe-list > li {
    margin-bottom: 0.75rem;
}

.buttons > .button.is-selected {
    background-color: #344fa2;
    color: #ffffff;
}

#tab-content > .recipe-tab {
    display: none;
}

#tab-content > .recipe-tab.is-active {
    display: block;
}

.button.code-btn {
    background-color: #efeff3;
    font-size: 0.65rem;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 1.5em;
}

.expand-btn {
    position: absolute;
    top: 10px;
    right: 4em;
}

.cta-btn {
    background-color: #f26724;
    color: #fff;
}
