---
---

@import "bulma/bulma";
@import "_vars";
@import "_mixins";
@import "_footer";
@import "_form";
@import "tutorial";

body,
select,
input,
button {
  font-family: "MarkOT";
}

.card-cta {

.cta-button {
  display: inline-block;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  padding: 15px 10px;
  text-transform: uppercase;
  white-space: nowrap;
  background-image: none;
  border: none;
  cursor: pointer;

  &.primary {
    background-color: #fd672f;
    color: #fff;
  }

  &.secondary {
    color: $baseColor;
    background-color: #fff;
    border: solid 2px $baseColor
  }
}
}

body {
  background: #f9f9fa;
  font-size: 14px;
  line-height: 1;
}

.nav-company {
    padding: 10px;

    a {
        font-size: 10px;
        letter-spacing: 1.17px;
        font-weight: 600;
        line-height: 20px;

        &:hover { text-decoration: underline; }
    }
}

.navbar {
    margin: 0 15px;
    background: none;
    padding: 18px 0;

    .navbar-brand .navbar-item {
        padding: 0;
        .logo {
            max-height: none;
            height: 39px;
            width: 125px;
            margin-right: 10px;
        }

        .sub-domain {
            width: 125px;
        }

    }

    @media screen and (min-width: 1079px) {
        margin: 0 25px;

        .navbar-brand .navbar-item {
            .logo, .sub-domain {
                width: auto;
            }

        }
    }

    .navbar-burger span { height: 2px; }

    .navbar-menu .navbar-item {
        color: #222;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: .7px;
        margin: 20px;
        padding: 0;
        a {
            color: inherit;
            padding: 2px 0;
        }

        width: 100%;


        @media screen and (min-width: 1079px) {
            width: auto;
            margin: 0 20px;

            .link {
                margin-top: 2px;
                color: inherit;
                border-bottom: 5px solid transparent;
                &:hover { border-color: #b78142; }
            }

            .cta {
                background-color: #38cced;
                color: #fff;
                border-radius: 6px;
                padding: 12px 30px 10px 30px;
                margin-right: 0;
                border: none;

                .icon { display: inline-block; }
            }
        }
    }
}

.snippet-wrapper {
  position: relative;
  margin: 5px 0 20px 0;

  .snippet {
    background: #f9f9fa;
    border-radius: 4px;

    & > code {
      background: #f9f9fa;
      font-size: 14px;
      line-height: 1.69;
      color: $textColor;
    }
  }

  .icon {
    position: absolute;
    top: 10px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;

    &.copy-btn {
      right: 10px;
    }

    &.toggle-expand {
      right: 37px;
    }
  }
}

.icon-aggregate {
    height: 38px;
}

.pg-main {
  .hero {
    .hero-body {
      padding-bottom: 250px;
    }

    .headline {
      align-items: center;
      text-align: center;

      p {
        margin-top: 45px;
      }

      h1 {
        font-size: 71px;
        font-weight: bold;
        line-height: 1.2;
        max-width: 650px;

        @media screen and (max-width: 479px) {
            font-size: 50px;
        }
      }
    }

    .subtitle {
        max-width: 800px;
        margin-top: 50px;
        color: $baseColor;
    }
  }

  .footer {
    margin-top: 130px;
  }
}

.hero {
  background: #b4e1e4;
  padding-top: 100px;
  color: $baseColor;
  border-radius: 8px;
  margin: 0 25px;

  @media screen and (max-width: 768px) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-body {
    padding-top: 20px;
  }

  .headline {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      font-weight: bold;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card.card-cta {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bold;
    color: $baseColor;
    align-items: center;
    text-align: center;
    min-height: 193px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      > div {
        flex: 1;

        &:first-child {
          flex: 5;
          line-height: 1.2;
          max-width: 300px;
        }
      }
    }

    .notice {
      color: $footerColor;
      font-size: 11px;
      font-weight: 100;
      text-align: left;
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: -200px;

  .card {
    flex: 1;
    min-width: 325px;
    max-width: 325px;
    margin-right: 46px;
    padding: 35px 25px 55px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.secondary-card-row {
  margin-top: 25px;
}

.third-card-row {
  margin-top: 25px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .title {
    @include title;

    div {
      margin-top: 20px;
    }
  }

  li {
    margin-bottom: 15px;

    a {
      font-size: 15px;
      color: #2479f7;
    }
  }
}

.section {
  .title {
    @include title;
    margin-bottom: 15px;
    font-weight: 550;
    line-height: 1.5;
  }

  h2.title {
    font-size: 21px;
  }
}

@media screen and (max-width: 1079px) {
  .pg-main {
    .footer {
      margin-top: 40px;
    }

    .cards-container {
      .card-cta {
        flex-direction: column;
        margin-top: 0;

        div:first-child {
          margin-bottom: 25px;
        }

        .content {
          min-width: auto;
        }

        .notice {
          margin-top: 1.5rem;
        }
      }
    }

    .cards {
      flex-direction: column;
      margin-top: 0;
      align-items: center;

      .card {
        margin: 20px 0;

        &:first-child {
          margin-top: 40px;
        }

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }
}

.apache-info {
    margin-bottom: 50px;
}
