---
---

@import "bulma/bulma";
@import "_vars";
@import "_mixins";
@import "_typography";
@import "_nav";
@import "_footer";
@import "_form";
@import "tutorial";
@import "asciidoc";
@import "feedback";

body {
  position: relative
}

body,
select,
input,
button {
  font-family: "MarkOT";
}

ul,
ol {
  margin: 10px 0 20px;

  li {
    margin-left: 17px;
  }
}

ul li {
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

a {
  color: $color_academy;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: $color_midnight;
    text-decoration: underline;
  }
}

svg path {
  pointer-events: none;
}

.btn-denim {
  @include button;
}

.btn-denim-white-outline {
  @include button($borderColor: $color_white, $hoverBorder: $color_white);
}

.btn-island {
  @include button(
    $bg: $color_island,
    $color: $color_denim,
    $borderColor: $color_island,
    $hoverBg: $color_denim,
    $hoverColor: $color_white,
    $hoverBorder: $color_denim
  );
}

.btn-white {
  @include button(
    $bg: $color_white,
    $color: $color_denim,
    $borderColor: $color_white,
    $hoverBg: $color_denim,
    $hoverColor: $color_white,
    $hoverBorder: $color_white
  );
}

.btn-midnight {
  @include button(
    $bg: $color_midnight,
    $color: $color_white,
    $borderColor: $color_midnight,
    $hoverBg: $color_white,
    $hoverColor: $color_midnight,
    $hoverBorder: $color_midnight
  );
}

.btn-midnight-white-outline {
  @include button(
    $bg: $color_midnight,
    $color: $color_white,
    $borderColor: $color_white,
    $hoverBg: $color_white,
    $hoverColor: $color_midnight,
    $hoverBorder: $color_white
  );
}

.card-cta {
  .cta-button {
    display: inline-block;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    padding: 15px 10px;
    text-transform: uppercase;
    white-space: nowrap;
    background-image: none;
    border: none;
    cursor: pointer;

    &.primary {
      background-color: $color_tomato;
      color: $color_white;
    }

    &.secondary {
      color: $color_denim;
      background-color: $color_white;
      border: solid 2px $color_denim;
    }
  }
}

.snippet-wrapper {
  position: relative;
  margin: 5px 0;
  overflow-x: auto;

  // for under 1088 this makes the most sense
  // full width,
  // minus the padding of the section > .container,
  // minus the width of the number
  max-width: calc(100vw - 3rem - 74px);
  width: calc(100vw - 3rem - 74px);

  @media screen and (min-width: 1088px) {
    max-width: 900px;
    width: 900px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1090px;
    width: 1090px;
  }

  @media screen and (min-width: 1472px) {
    max-width: 1285px;
    width: 1285px;
  }

  .snippet,
  .highlight {
    background: $color_whiteSmoke;
    border-radius: 4px;
    padding: 1.25em;
    overflow-y: auto;

    & > code {
      background: $color_whiteSmoke;
      font-size: 14px;
      line-height: 1.69;
      color: $color_black;
      padding: 0;
    }
  }

  .icon {
    position: absolute;
    top: 10px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;

    &.copy-btn {
      right: 10px;

      &.copied {
        &::before {
          position: absolute;
          top: 100%;
          z-index: 1;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid $color_darkCharcoal;
          content: "";
        }

        &::after {
          content: "Copied!";
          position: absolute;
          top: calc(100% + 5px);
          background: $color_darkCharcoal;
          color: $color_white;
          padding: 8px 10px;
          font-size: 14px;
          border-radius: 4px;
        }
      }
    }

    &.toggle-expand {
      right: 37px;
    }
  }
}

.icon-aggregate {
  height: 38px;
}

.pg-main {
  .hero {
    .hero-body {
      padding-bottom: 250px;
    }

    a {
      color: $color_island;

      &:hover {
        color: $color_academy;
        text-decoration: underline;
      }
    }

    .headline {
      align-items: center;
      text-align: center;

      p {
        margin-top: 45px;
      }

      h1 {
        font-size: 71px;
        font-weight: bold;
        line-height: 1.2;
        max-width: 650px;

        @media screen and (max-width: 479px) {
          font-size: 50px;
        }
      }
    }

    .subtitle {
      max-width: 800px;
      margin-top: 50px;
      color: $color_white;
    }
  }

  .container {
    margin: 15px auto;

    .title {
      color: #E6F5FB;
    }
  }

  .footer {
    margin-top: 130px;
  }

  .cards ul,
  .cards ol {
    li {
      list-style-type: none;
      margin-left: 0;
    }
  }
}

.hero {
  background: $color_midnight;
  padding-top: 100px;
  color: $color_white;

  @media screen and (max-width: 768px) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-body {
    padding-top: 20px;

    .ctas {
      margin-top: 25px;

      > * {
        margin-left: 10px;
        margin-bottom: 15px;
      }

      :first-child {
        margin-left: 0;
      }

      @include for-max-mobile {
        display: flex;
        flex-direction: column;

        > * {
          margin-left: 0;
          display: inline-block;
        }
      }
    }
  }

  .headline {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      font-weight: bold;
    }

    img {
      vertical-align: middle;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card.card-cta {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: bold;
    color: $color_denim;
    align-items: center;
    text-align: center;
    min-height: 193px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      > div {
        flex: 1;

        &:first-child {
          flex: 5;
          line-height: 1.2;
          max-width: 300px;
        }
      }
    }

    .notice {
      color: $footerColor;
      font-size: 11px;
      font-weight: 100;
      text-align: left;
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: -200px;

  .card {
    width: 325px;
    padding: 35px 25px 55px;
    margin-right: 46px;
    border-radius: 4px;
    box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
    background-color: $color_white;

    .title {
      @include title;

      div {
        margin-top: 20px;
      }
    }

    li {
      margin-bottom: 15px;
      line-height: 1;

      a {
        font-size: 15px;
        color: $color_academy;

        &:hover {
          text-decoration: underline;
          color: $color_midnight;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.breadcrumb {
  li {
    margin-left: 0;
  }
}

.section {
  .container {
    .breadcrumb {
      margin-top: 0;
      
      a {
        color: $color_academy;
        font-weight: 900;
        text-decoration: underline;
      }
    }
  }
}

.secondary-card-row,
.third-card-row,
.fourth-card-row,
.fifth-card-row {
  margin-top: 25px;
}

.section {
  .title {
    @include title;

    margin-bottom: 15px;
    font-weight: 550;
    line-height: 1.5;
  }

  h2.title {
    font-size: 21px;
  }
}

@include for-tablet-nav {
  .pg-main {
    .hero {
      .hero-body {
        padding-bottom: 100px;
      }
    }

    .footer {
      margin-top: 40px;
    }

    .cards-container {
      padding: 0 25px;
      .card-cta {
        flex-direction: column;
        margin-top: 0;

        div:first-child {
          margin-bottom: 25px;
        }

        .content {
          min-width: auto;
        }

        .notice {
          margin-top: 1.5rem;
        }
      }
    }

    .cards {
      flex-direction: column;
      margin-top: 0;
      align-items: center;
      width: 100%;

      .card {
        width: 100%;
        margin: 20px 0;

        &:first-child {
          margin-top: 40px;
        }

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }
}
