---
---

@import "bulma/bulma";
@import "_vars";
@import "_mixins";
@import "_footer";
@import "recipe";

body,
select {
  font-family: "Roboto", sans-serif;
}

body {
  background: #f9f9fa;
  font-size: 14px;
  line-height: 1;

  .section.top {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.snippet-wrapper {
  position: relative;
  margin: 20px 0;

  pre.snippet {
    background: #f9f9fa;
    border-radius: 4px;
    // border: solid 1px #7ed321;

    & > code {
      background: #f9f9fa;
      font-family: Inconsolata;
      font-size: 16px;
      line-height: 1.69;
      color: $baseColor;
    }
  }

  .icon {
    position: absolute;
    top: 10px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;

    &.copy-btn {
      right: 10px;
    }

    &.expand-btn {
      right: 37px;
    }
  }
}

.pg-main {
  .hero {
    .hero-body {
      padding-bottom: 250px;
    }

    .headline {
      align-items: center;
      text-align: center;

      p {
        margin-top: 45px;
      }
    }
  }

  .footer {
    margin-top: 130px;
  }
}

.hero {
  background-color: #f9f9fa;
  background-image: url("/assets/img/hero.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  color: #fff;

  .hero-body {
    padding-top: 20px;
  }

  .headline {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      font-weight: bold;
    }

    h2 {
      font-size: 71px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-cta {
    display: flex;
    padding: 50px;
    margin-top: 45px;
    width: 1067px;
    font-size: 28px;
    font-weight: bold;
    color: $baseColor;
    align-items: center;

    > div {
      flex: 1;

      &:first-child {
        flex: 5;
        line-height: 1.2;
      }

      a {
        display: inline-block;
        border-radius: 25px;
        background-color: #fd672f;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        padding: 15px 50px;
        text-transform: uppercase;
      }
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: -125px;

  .card {
    flex: 1;
    min-width: 325px;
    max-width: 325px;
    margin-right: 46px;
    padding: 35px 25px 55px;
    height: 375px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.card {
  border-radius: 4px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .title {
    @include title;

    div {
      margin-top: 20px;
    }
  }

  li {
    margin-bottom: 15px;

    a {
      font-size: 15px;
      color: #2479f7;
    }
  }
}

.section {
  .title {
    @include title;
    margin-bottom: 15px;
  }

  h2.title {
    font-size: 21px;
  }
}

@media screen and (max-width: 1079px) {
  .pg-main {
    .footer {
      margin-top: 40px;
    }

    .cards-container {
      .card-cta {
        min-width: 325px;
        max-width: 325px;
        flex-direction: column;
        margin-top: 0;

        div:first-child {
          margin-bottom: 25px;
        }
      }
    }

    .cards {
      flex-direction: column;
      margin-top: 0;
      align-items: center;

      .card {
        margin: 20px 0;

        &:first-child {
          margin-top: 40px;
        }

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }
}
