---
---

@import "bulma/bulma";
@import "_vars";
@import "_mixins";
@import "_footer";
@import "_form";
@import "tutorial";

body,
select,
input,
button {
  font-family: "Roboto", "Arial", sans-serif;
}

.logo {
  height: 33px;
  width: auto;
}

.cta-button, {
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  padding: 15px 20px;
  text-transform: uppercase;
  white-space: nowrap;
  background-image: none;
  border: none;
  cursor: pointer;

  &.primary {
    background-color: #fd672f;
    color: #fff;
  }

  &.secondary {
    color: $baseColor;
    background-color: #fff;
    border: solid 2px $baseColor
  }
}

body {
  background: #f9f9fa;
  font-size: 14px;
  line-height: 1;

  nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1087px) {
        margin: 0 20px;
      }

      > div:first-child {
        @media (max-width: 480px) {
          width: 45%;
        }
      }

      .join {
        p {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: $baseColor;
          margin-right: 10px;

          @media (max-width: 640px) {
            display: none;
          }
        }

        .cta-button {
          span {
            display: none;

            @media (min-width: 370px) and (max-width: 640px) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.snippet-wrapper {
  position: relative;
  margin: 5px 0 20px 0;

  .snippet {
    background: #f9f9fa;
    border-radius: 4px;

    & > code {
      background: #f9f9fa;
      font-size: 14px;
      line-height: 1.69;
      color: $textColor;
    }
  }

  .icon {
    position: absolute;
    top: 10px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;

    &.copy-btn {
      right: 10px;
    }

    &.toggle-expand {
      right: 37px;
    }
  }
}

.icon-aggregate {
    height: 38px;
}

.pg-main {
  .hero {
    .hero-body {
      padding-bottom: 250px;
    }

    .headline {
      align-items: center;
      text-align: center;

      p {
        margin-top: 45px;
      }

      h1 {
        font-size: 71px;
        font-weight: bold;
        line-height: 1.2;
        max-width: 650px;
      }
    }

    .subtitle {
        max-width: 800px;
        margin-top: 50px;
        color: #fff;
    }
  }

  .footer {
    margin-top: 130px;
  }
}

.hero {
  background-color: #f9f9fa;
  background-image: url("../img/hero.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  color: #fff;

  .hero-body {
    padding-top: 20px;
  }

  .headline {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 42px;
      font-weight: bold;
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card.card-cta {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 28px;
    font-weight: bold;
    color: $baseColor;
    align-items: center;
    text-align: center;
    min-height: 193px;

    @media (min-width: 480px) {
      min-width: 697px;
      max-width: 697px;
    }

    > div {
      flex: 1;
      max-width: 500px;

       &:first-child {
        flex: 5;
        line-height: 1.2;
      }
    }
  }
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: -200px;

  .card {
    flex: 1;
    min-width: 325px;
    max-width: 325px;
    margin-right: 46px;
    padding: 35px 25px 55px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.secondary-card-row {
  margin-top: 25px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .title {
    @include title;

    div {
      margin-top: 20px;
    }
  }

  li {
    margin-bottom: 15px;

    a {
      font-size: 15px;
      color: #2479f7;
    }
  }
}

.section {
  .title {
    @include title;
    margin-bottom: 15px;
    font-weight: 550;
    line-height: 1.5;
  }

  h2.title {
    font-size: 21px;
  }
}

@media screen and (max-width: 1079px) {
  .pg-main {
    .footer {
      margin-top: 40px;
    }

    .cards-container {
      .card-cta {
        flex-direction: column;
        margin-top: 0;

        div:first-child {
          margin-bottom: 25px;
        }
      }
    }

    .cards {
      flex-direction: column;
      margin-top: 0;
      align-items: center;

      .card {
        margin: 20px 0;

        &:first-child {
          margin-top: 40px;
        }

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 10px;
  }
}

.apache-info {
    margin-bottom: 50px;
}
