@import "_vars";
@import "_tabs";

.pg-tutorial {
  background: #fff;

  .section {
    padding-top: 35px;
    padding-bottom: 35px;

    .tutorial-section-title {
      font-size: 35px;
    }

    .paragraph p {
        overflow-wrap: break-word;
    }
  }

  .btn-edit {
    width: 50px;
    position: absolute;
    top: -59px;
    right: 0;

    img {
      width: 50px;
    }
  }

  .summary {
    @include text;
    color: $baseColor;

    h2 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    p {
      font-weight: 400;
    }
  }

  .tutorial-try-it-step p {
    @include p;
  }

  .hero {
    min-height: 265px;
    padding-top: 0;

    .hero-body {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;

      > .container {
        margin: 20px auto;
      }

      .community-contribution {
          font-size: 0.75rem;
          background: white;
          border-radius: 6px;
          padding: 2px 1px 2px 5px;
          line-height: 2.5rem;
          font-weight: 900;
          text-transform: uppercase;
      }

    }
  }

  .headline {
    margin-bottom: 30px;
  }

  .example {
    margin-bottom: 40px;

    p {
      @include p;
    }
  }

  h4.subtitle {
    margin: 0 0 5px -32px;
    color: $textColor;
    font-weight: normal;
    font-size: 21px;

    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .num {
      min-width: 26px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: $baseColor;
      text-align: center;
      font-size: 18px;
      color: #fff;
      font-weight: bold;
      padding-top: 2px;
      display: inline-block;
      margin-right: 5px;
    }
  }

  .tutorial-try-it-step {
    margin: 0 0 60px 32px;

    .subtitle {
      padding-bottom: 15px;
      display: flex;
    }
  }

  .tutorial-navigation {
    margin-top: 60px;
    display: inline-block;

    > li > a {
      @include title;
      font-weight: 550;
      line-height: 1.5;
    }

    ul {
      margin-bottom: 20px;
      margin-top: 10px;

      a {
        @include text;
        color: #003cc8;
        line-height: 1.69;
        font-weight: 400;
      }
    }
  }

  .tutorial-media-container {
    margin-top: 60px;
    iframe {
      width:100%;
      height:331px;
    }
  }

  @media screen and (max-width: 640px) {
    .tutorial-media-container {
      margin-top: 20px;
    }

    h4.subtitle,
    .tutorial-try-it-step {
      margin-left: 0;
    }
  }

  .tutorial-missing {
    padding: 0;

    .snippet-wrapper {
      margin: 0;

      .snippet {
        padding: 20px 0;
      }
    }
  }
}
