CREATE TABLE movie_sales_by_year (
    release_year INT,
    min_total_sales INT,
    max_total_sales INT,
    PRIMARY KEY (release_year) NOT ENFORCED
) WITH (
    'connector' = 'upsert-kafka',
    'topic' = 'movie-sales-by-year',
    'properties.bootstrap.servers' = 'localhost:KAFKA_PORT',
    'key.format' = 'raw',
    'value.format' = 'avro-confluent',
    'value.avro-confluent.url' = 'http://localhost:SCHEMA_REGISTRY_PORT',
    'value.fields-include' = 'EXCEPT_KEY'
);
