<div class="recipe-try-it-step">
  <h4 class="subtitle is-4">1. Create a production configuration file</h4>

  <p>First, create a new directory for your production environment configuration data:</p>
  <pre class="snippet"><code class="shell">mkdir -p src/main/resources/prod</code></pre>

  <p>Then create a new configuration file at <code>src/main/resources/prod/config.properties</code> with the following content. Be sure to fill in the addresses of your production hosts.</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/filtering/kstreams/code/src/main/resources/prod/config.properties %}</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle is-4">2. Create a Dockerfile and build script</h4>

  <p>Create a file named <code>Dockerfile</code> to run your application as a container:</p>
  <pre class="snippet"><code class="dockerfile">{% include_raw recipes/filtering/kstreams/code/Dockerfile %}</code></pre>

  <p>Next, build the Dockerfile to create an image. Write a script for this by first running:</p>
  <pre class="snippet"><code class="shell">mkdir scripts</code></pre>

  <p>Then creating the a file named <code>scripts/build-docker-image.sh</code> with the following content. Notice the command line switch to pick up the production version of your configuration file instead of the development one.</p>
  <pre class="snippet"><code class="bash">{% include_raw recipes/filtering/kstreams/code/scripts/build-docker-image.sh %}</code></pre>

  <p>Make the file executable:</p>
  <pre class="snippet"><code class="shell">chmod +x scripts/build-docker-image.sh</code></pre>

  <p>And build the image:</p>
  <pre class="snippet"><code class="shell">./scripts/build-docker-image.sh</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle is-4">3. Launch the container</h4>

  <p>Finally, launch the container using your preferred container orchestration service. If you want to run it locally, you can execute the following:</p>
  <pre class="snippet"><code class="shell">docker run io.confluent.developer/kstreams-filter:0.0.1</code></pre>
</div>
