<footer class="footer">
  {% include apache.html %}

  <div class="container">
    <div class="columns">
      <div class="nav-links column is-three-quarters">
        <ul>
          <li>Product</li>
          <li><a href="https://www.confluent.io/product/confluent-platform/">Confluent Platform</a></li>
          <li><a href="https://www.confluent.io/product/ksql/">KSQL</a></li>
          <li><a href="https://www.confluent.io/subscription/">Subscription</a></li>
          <li><a href="https://www.confluent.io/services/">Professional Services</a></li>
          <li><a href="https://www.confluent.io/training/">Training</a></li>
          <li><a href="https://www.confluent.io/customers/">Customers</a></li>
        </ul>
        <ul class="small">
          <li>Cloud</li>
          <li><a href="https://www.confluent.io/confluent-cloud/">Confluent Cloud</a></li>
          <li>
            <ul>
              <li><a href="https://www.confluent.io/confluent-cloud/support/">Support</a></li>
              <li><a href="https://www.confluent.io/confluent-cloud/#sign-up">Sign Up</a></li>
              <li><a href="https://confluent.cloud/login">Log In</a></li>
            </ul>
          </li>
        </ul>
        <ul class="large">
          <li><a href="https://www.confluent.io/solutions/microservices-clone/">Solutions</a></li>
          <li><a href="https://www.confluent.io/industry-solutions/">Industry Solutions</a></li>
          <li><a href="https://www.confluent.io/solutions/microservices/">Microservices</a></li>
          <li><a href="https://www.confluent.io/solutions/internet-of-things-iot/">Internet of Things</a></li>
          <li><a href="https://www.confluent.io/solutions/financial-services">Financial Services</a></li>
          <li><a href="https://www.confluent.io/fraud-detection">Fraud Detection</a></li>
          <li><a href="https://www.confluent.io/customer-360">Customer 360</a></li>
          <li><a href="https://www.confluent.io/confluent-platform-azure-stack/">Azure Hybrid Streaming</a></li>
        </ul>
        <ul class="small">
          <li>Developers</li>
          <li><a href="https://www.confluent.io/what-is-apache-kafka/">What is Kafka?</a></li>
          <li><a href="https://www.confluent.io/resources/">Resources</a></li>
          <li><a href="https://www.confluent.io/online-talks/">Online Talk</a></li>
          <li><a href="https://www.confluent.io/apache-kafka-meetups/">Meetups</a></li>
          <li><a href="https://kafka-summit.org/">Kafka Summit</a></li>
          <li><a href="https://developer.confluent.io/">Confluent Developer</a></li>
          <li><a href="https://docs.confluent.io/current">Docs</a></li>
          <li><a href="https://www.confluent.io/blog/">Blog</a></li>
        </ul>
        <ul class="small">
          <li>About</li>
          <li><a href="https://www.confluent.io/about">Company</a></li>
          <li><a href="https://www.confluent.io/careers">Careers</a></li>
          <li><a href="https://www.confluent.io/partners/">Partners</a></li>
          <li><a href="https://www.confluent.io/in-the-news/">News</a></li>
          <li><a href="https://www.confluent.io/events-conferences/">Events</a></li>
          <li><a href="https://www.confluent.io/contact/">Contact</a></li>
        </ul>
      </div>
      <div class="social-links column">
        <ul>
          <li>
            <a target="_blank" href="https://twitter.com/ConfluentInc">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/confluent">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/confluentinc">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.slideshare.net/ConfluentInc">
              <i class="fa fa-slideshare"></i>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/confluent">
              <i class="fa fa-youtube-play"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © Confluent, Inc. 2020.&nbsp;<a href="https://www.confluent.io/privacy">Privacy Policy</a> | <a href="https://www.confluent.io/terms-of-use">Terms &amp; Conditions</a> | <a href="https://www.confluent.io/modern-slavery-policy">Modern Slavery Policy</a></p>
    </div>
  </div>
</footer>
