<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}" height="0"
    width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header">
  <div class="nav-container">

    <!-- Logo(s) -->
    <a class="logo-container" href="{{ "/" | relative_url }}">
      <img class="logo" src="{{ "https://developer.confluent.io/images/developer-logo.svg" | relative_url }}" alt="Confluent Developer" />
    </a>

    <!-- Mobile navigation menu -->
    <div class="nav-mobile">

      <!-- Quick start (outer menu) link -->
      <a class="button quick-start-nav-button"
        href="https://developer.confluent.io/quickstart/kafka-on-confluent-cloud/">Quick Start</a>

      <!-- Hamburger menu icon -->
      <button type="button" class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Navigation links -->
      <nav>

        <!-- Quick start (inner menu) link -->
        <a class="button denim quick-start-link"
          href="https://developer.confluent.io/quickstart/kafka-on-confluent-cloud/">Quick Start</a>

        <!-- Course related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Courses
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">Apache Kafka 101</a>
              <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">Kafka Connect 101</a>
              <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">Kafka Streams 101</a>
              <a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/">ksqlDB 101</a>
              <a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/">Inside
                ksqlDB</a>
              <a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/">Spring Framework and Apache
                Kafka</a>
              <a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/">Building Data Pipelines with
                Apache Kafka and Confluent</a>
              <a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/">Event
                Sourcing and Event Storage with Apache Kafka</a>
              <a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/">Data Mesh 101</a>
            </div>
          </div>
        </div>

        <!-- Learn related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Learn
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/#what-is-apache-kafka">What is
                Apache Kafka®?</a>
              <a href="https://developer.confluent.io/learn/event-streaming-vs-related-trends/">Event Streaming vs.
                Related Trends</a>
              <a href="https://developer.confluent.io/learn/kraft/">KRaft: Kafka without ZooKeeper</a>
              <a href="https://developer.confluent.io/learn/kafka-transactions-and-guarantees/">Transactions &amp;
                Guarantees in Kafka</a>
              <a href="https://developer.confluent.io/learn/kafka-storage-and-processing/">Processing &amp; Storage
                Fundamentals of Kafka</a>
              <a href="https://developer.confluent.io/learn/kafka-performance/">Kafka Performance</a>
              <a href="https://developer.confluent.io/learn/cloud-native-kafka/">Cloud-native Kafka</a>
              <a href="https://developer.confluent.io/learn/streaming-database-systems/">Streaming Database Systems</a>
              <a href="https://developer.confluent.io/learn/testing-kafka/">Testing Apache Kafka</a>
              <a href="https://developer.confluent.io/#kafka-internals">Explore Kafka's Internals</a>
            </div>
          </div>
        </div>

        <!-- Design, Build, Run related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Design, Build, Run
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a target="_blank" rel="noopener noreferrer" href="https://developer.confluent.io/patterns/">Event
                Streaming Patterns</a>
              <a href="https://developer.confluent.io/get-started/">Get Started With Your Favorite Language</a>
              <a href="https://developer.confluent.io/tutorials/">Tutorials</a>
              <a href="https://developer.confluent.io/?build=apps#designbuildrun">Developers: Build Apps</a>
              <a href="https://developer.confluent.io/?build=pipelines#designbuildrun">Data Engineers: Build Pipelines
                and Integrate</a>
              <a href="https://developer.confluent.io/?build=operate#designbuildrun">Admins: Operate</a>
              <a href="https://developer.confluent.io/demos-examples/">Demos &amp; In-depth Examples</a>
              <a href="https://developer.confluent.io/100-days-of-code/">100 Days Of Code</a>
            </div>
          </div>
        </div>

        <!-- Community related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Community
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel"><a target="_blank" rel="noopener noreferrer"
                href="https://www.kafka-summit.org/">Kafka Summit Conference</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/community/">Meetups &amp;
                Events</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/blog/">Blog</a>
              <a href="https://developer.confluent.io/podcast/">Podcast</a>
              <a target="_blank" rel="noopener noreferrer"
                href="https://www.confluent.io/community/ask-the-community/">Ask the Community</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/nominate/">Community
                Catalysts</a>
            </div>
          </div>
        </div>

        <!-- Documentation link -->
        <a class="mobile-link" target="_blank" rel="noopener noreferrer"
          href="https://docs.confluent.io/home/overview.html">Docs</a>
      </nav>
    </div>

    <!-- Desktop navigation menu -->
    <nav class="nav">
      <ul>

        <!-- Course related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://developer.confluent.io/learn-kafka/">Courses</a>
          <ul>
            <li><a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">Apache Kafka 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">Kafka Connect 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">Kafka Streams 101</a>
            </li>
            <li><a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/">ksqlDB 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/">Inside
                ksqlDB</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/">Spring Framework and Apache
                Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/">Building Data Pipelines with
                Apache Kafka and Confluent</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/">Event
                Sourcing and Event Storage with Apache Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/">Data Mesh 101</a></li>
          </ul>
        </li>

        <!-- Learn related links -->
        <li class="dropdown-link">
          <a rel=" noreferrer" href="https://developer.confluent.io/#">Learn</a>
          <ul>
            <li><a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/#what-is-apache-kafka">What is
                Apache Kafka®?</a></li>
            <li><a href="https://developer.confluent.io/learn/event-streaming-vs-related-trends/">Event Streaming vs.
                Related Trends</a></li>
            <li><a href="https://developer.confluent.io/learn/kraft/">KRaft: Kafka without ZooKeeper</a></li>
            <li><a href="https://developer.confluent.io/learn/kafka-transactions-and-guarantees/">Transactions &amp;
                Guarantees in Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn/kafka-storage-and-processing/">Processing &amp; Storage
                Fundamentals of Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn/kafka-performance/">Kafka Performance</a></li>
            <li><a href="https://developer.confluent.io/learn/cloud-native-kafka/">Cloud-native Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn/streaming-database-systems/">Streaming Database
                Systems</a></li>
            <li><a href="https://developer.confluent.io/learn/testing-kafka/">Testing Apache Kafka</a></li>
            <li><a href="https://developer.confluent.io/#kafka-internals">Explore Kafka's Internals</a></li>
          </ul>
        </li>

        <!-- Design, Build, Run related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://developer.confluent.io/#designbuildrun">Design, Build, Run</a>
          <ul>
            <li><a href="https://developer.confluent.io/patterns/">Event Streaming Patterns</a></li>
            <li><a href="https://developer.confluent.io/get-started/">Get Started With Your Favorite Language</a></li>
            <li><a href="https://developer.confluent.io/tutorials/">Tutorials</a></li>
            <li><a href="https://developer.confluent.io/?build=apps#designbuildrun">Developers: Build Apps</a></li>
            <li><a href="https://developer.confluent.io/?build=pipelines#designbuildrun">Data Engineers: Build Pipelines
                and Integrate</a></li>
            <li><a href="https://developer.confluent.io/?build=operate#designbuildrun">Admins: Operate</a></li>
            <li><a href="https://developer.confluent.io/demos-examples/">Demos &amp; In-depth Examples</a></li>
            <li><a href="https://developer.confluent.io/100-days-of-code/">100 Days Of Code</a></li>
          </ul>
        </li>

        <!-- Community related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://www.confluent.io/community/">Community</a>
          <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.kafka-summit.org/">Kafka Summit
                Conference</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/community/">Meetups &amp;
                Events</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/blog/">Blog</a></li>
            <li><a href="https://developer.confluent.io/podcast/">Podcast</a></li>
            <li><a target="_blank" rel="noopener noreferrer"
                href="https://www.confluent.io/community/ask-the-community/">Ask the Community</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/nominate/">Community
                Catalysts</a></li>
          </ul>
        </li>

        <!-- Documentation link -->
        <li class=""><a target="_blank" rel="noopener noreferrer"
            href="https://docs.confluent.io/home/overview.html">Docs</a></li>

        <!-- Quick start link -->
        <li class="quick-start"><a class="button"
            href="https://developer.confluent.io/quickstart/kafka-on-confluent-cloud/">Quick Start</a></li>
      </ul>
    </nav>
  </div>
</header>
