<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}" height="0"
    width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<style>
  ul li {
    list-style: none;
  }
</style>

<header class="header">
  <div class="nav-container">

    <!-- Logo(s) -->
    <a class="logo-container" href="/">
      <img class="logo" src="{{ "https://developer.confluent.io/images/developer-logo.svg" | relative_url }}" alt="Confluent Developer" />
    </a>

    <!-- Mobile navigation menu -->
    <div class="nav-mobile">

      <!-- Quick start (outer menu) link -->
      <a class="button quick-start-nav-button"
        href="https://confluent.io/get-started/">GET STARTED FREE</a>

      <!-- Hamburger menu icon -->
      <button type="button" class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Navigation links -->
      <nav>

        <!-- Quick start (inner menu) link -->
        <a class="button denim quick-start-link"
          href="https://confluent.io/get-started/">GET STARTED FREE</a>

        <!-- Course related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Courses
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">Apache Kafka 101</a>
              <a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">Kafka Connect 101</a>
              <a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">Kafka Streams 101</a>
              <a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/">Data Mesh 101</a>
              <a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/">ksqlDB 101</a>
              <a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/">Inside ksqlDB</a>
              <a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/">Spring Framework and Apache Kafka</a>
              <a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/">Building Data Pipelines with
                Apache Kafka and Confluent</a>
              <a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/">Event
                Sourcing and Event Storage with Apache Kafka</a>
              <a href="https://developer.confluent.io/learn-kafka/architecture/get-started/">Kafka Internals</a>
            </div>
          </div>
        </div>

        <!-- Learn related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Learn
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://developer.confluent.io/learn/">Articles</a>
              <a href="https://developer.confluent.io/patterns/">Patterns</a>
              <a href="https://developer.confluent.io/learn/apache-kafka-faqs/">FAQs</a>
              <a href="https://developer.confluent.io/100-days-of-code/">100 Days of Code</a>
              <a href="https://www.confluent.io/blog/">Blog</a>
              <a href="https://developer.confluent.io/podcast/">Podcast</a>
              <a href="https://developer.confluent.io/live/">Confluent Developer Live</a>
            </div>
          </div>
        </div>

        <!-- Design, Build, Run related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Build
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://developer.confluent.io/get-started/">Language Guides</a>
              <a href="https://developer.confluent.io/tutorials/">Tutorials</a>
              <a href="https://developer.confluent.io/demos-examples/">Demos</a>
            </div>
          </div>
        </div>

        <!-- Community related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Community
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a target="_blank" rel="noopener noreferrer" href="https://www.kafka-summit.org/">Kafka Summit Conference</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/community/">Meetups &amp; Events</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/community/ask-the-community/">Ask the Community</a>
              <a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/nominate/">Community Catalysts</a>
            </div>
          </div>
        </div>

        <!-- Documentation related links -->
        <div class="accordion-item-wrapper collapsed mobile-accordion-item">
          <div>
            <div class="accordion-title">
              Docs
              <div class="arrow down md theme_denim indicator"></div>
            </div>
            <div class="accordion-panel">
              <a href="https://docs.confluent.io/home/overview.html" rel="noopener noreferrer" data-test-id="link">Docs Home</a>
              <a href="https://docs.confluent.io/cloud/current/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Cloud</a>
              <a href="https://docs.confluent.io/platform/current/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Platform</a>
              <a href="https://docs.confluent.io/home/connect/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Connectors</a>
              <a href="https://docs.confluent.io/home/tools/overview.html" rel="noopener noreferrer" data-test-id="link">Tools</a>
              <a href="https://docs.confluent.io/home/clients/overview.html" rel="noopener noreferrer" data-test-id="link">Clients</a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Desktop navigation menu -->
    <nav class="nav">
      <ul>

        <!-- Course related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://developer.confluent.io/learn-kafka/">Courses</a>
          <ul>
            <li><a href="https://developer.confluent.io/learn-kafka/apache-kafka/events/">Apache Kafka 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/kafka-connect/intro/">Kafka Connect 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/kafka-streams/get-started/">Kafka Streams 101</a>
            </li>
            <li><a href="https://developer.confluent.io/learn-kafka/data-mesh/intro/">Data Mesh 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/ksqldb/intro/">ksqlDB 101</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/inside-ksqldb/streaming-architecture/">Inside
                ksqlDB</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/spring/confluent-cloud/">Spring Framework and Apache
                Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/data-pipelines/intro/">Building Data Pipelines with
                Apache Kafka and Confluent</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/event-sourcing/event-driven-vs-state-based/">Event
                Sourcing and Event Storage with Apache Kafka</a></li>
            <li><a href="https://developer.confluent.io/learn-kafka/architecture/get-started/">Kafka Internals</a></li>
          </ul>
        </li>

        <!-- Learn related links -->
        <li class="dropdown-link">
          <a rel=" noreferrer" href="https://developer.confluent.io/learn/">Learn</a>
          <ul>
            <li><a href="https://developer.confluent.io/learn/">Articles</a></li>
            <li><a href="https://developer.confluent.io/patterns/">Patterns</a></li>
            <li><a href="https://developer.confluent.io/learn/apache-kafka-faqs/">FAQs</a></li>
            <li><a href="https://developer.confluent.io/100-days-of-code/">100 Days of Code</a></li>
            <li><a href="https://www.confluent.io/blog/">Blog</a></li>
            <li><a href="https://developer.confluent.io/podcast/">Podcast</a></li>
            <li><a href="https://developer.confluent.io/live/">Confluent Developer Live</a></li>
          </ul>
        </li>

        <!-- Design, Build, Run related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://developer.confluent.io/#designbuildrun">Build</a>
          <ul>
            <li><a href="https://developer.confluent.io/get-started/">Language Guides</a></li>
            <li><a href="https://developer.confluent.io/tutorials/">Tutorials</a></li>
            <li><a href="https://developer.confluent.io/demos-examples/">Demos</a></li>
          </ul>
        </li>

        <!-- Community related links -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer" href="https://www.confluent.io/community/">Community</a>
          <ul>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.kafka-summit.org/">Kafka Summit
                Conference</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/community/">Meetups &amp;
                Events</a></li>
            <li><a target="_blank" rel="noopener noreferrer"
                href="https://www.confluent.io/community/ask-the-community/">Ask the Community</a></li>
            <li><a target="_blank" rel="noopener noreferrer" href="https://www.confluent.io/nominate/">Community
                Catalysts</a></li>
          </ul>
        </li>

        <!-- Documentation link -->
        <li class="dropdown-link">
          <a rel="noopener noreferrer"
            href="https://docs.confluent.io/home/overview.html">Docs</a>
          <ul>
            <li>
              <a href="https://docs.confluent.io/home/overview.html" rel="noopener noreferrer" data-test-id="link">Docs Home</a>
            </li>
            <li>
              <a href="https://docs.confluent.io/cloud/current/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Cloud</a>
            </li>
            <li>
              <a href="https://docs.confluent.io/platform/current/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Platform</a>
            </li>
            <li>
              <a href="https://docs.confluent.io/home/connect/overview.html" rel="noopener noreferrer" data-test-id="link">Confluent Connectors</a>
            </li>
            <li>
              <a href="https://docs.confluent.io/home/tools/overview.html" rel="noopener noreferrer" data-test-id="link">Tools</a>
            </li>
            <li>
              <a href="https://docs.confluent.io/home/clients/overview.html" rel="noopener noreferrer" data-test-id="link">Clients</a>
            </li>
          </ul>
        </li>

        <!-- Quick start link -->
        <li class="quick-start"><a class="button"
            href="https://www.confluent.io/get-started/">GET STARTED FREE</a></li>
      </ul>
    </nav>
  </div>
</header>