<div>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-2" id="try-it">Try it</h2>
          {% include {{ include.try_it }} %}
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-2" id="test-it">Test it</h2>
          {% include {{ include.test_it }} %}
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title is-2" id="take-it-to-prod">Take it to production</h2>
          {% include {{ include.take_it_to_prod }} %}
        </div>
      </div>
    </div>
  </section>
</div>
