<div>

   {% if site.data.harnesses[page.static_data][page.stack].answer %}

   <br>
   <br>
   <br>
   <br>

     <div class="container" style="background-color: #E6F5FB; padding: 30px; ">
       <div class="columns">
         <div class="column is-full">
           <h3 class="title">Get Started</h3>
           {% for step in site.data.harnesses[page.static_data][page.stack].answer.steps %}

            <div class="tutorial-try-it-step content">
             <h4 class="subtitle" id="{{ step.title | slugify }}">
               <div class="text">{{ step.title }}</div>
             </h4>

              {% for section in step.content %}

              {% if section.render.skip != true %}

        <div class="ctas">
          <a href="https://www.confluent.io/confluent-cloud/tryfree/\?tutorial={{ site.data.tutorials[page.static_data].tutorial-id }}" class="btn-denim">Take me to Confluent Cloud</a>
        </div>

              {% endif %}

              {% endfor %}
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
   {% endif %}

</div>
