<div data-tracking-location="content-answer">

   {% if site.data.harnesses[page.static_data][page.stack].answer %}
     <div class="container" style="background-color: #E6F5FB; padding: 30px; ">
       <div class="columns">
         <div class="column is-full">
           <h3 class="title">Short Answer</h3>
           {% for step in site.data.harnesses[page.static_data][page.stack].answer.steps %}

            <div class="tutorial-try-it-step content">
             <h4 class="subtitle" id="{{ step.title | slugify }}">
               <div class="text">{{ step.title }}</div>
             </h4>

              {% for section in step.content %}

              {% if section.render.skip != true %}

              {% capture prose %}{% include {{ section.render.file }} %}{% endcapture %}
             {{ prose | asciidocify }}

              {% endif %}

              {% endfor %}
           </div>
           {% endfor %}
         </div>
       </div>
     </div>
   {% endif %}

</div>
