CREATE TABLE orders (
    id INT, 
    total_amount DOUBLE, 
    customer_name VARCHAR,
    order_ts TIMESTAMP(3) METADATA FROM 'timestamp'
) WITH (
    'connector' = 'kafka',
    'topic' = 'orders',
    'properties.bootstrap.servers' = 'localhost:KAFKA_PORT',
    'scan.startup.mode' = 'earliest-offset',
    'key.format' = 'raw',
    'key.fields' = 'id',
    'value.format' = 'avro-confluent',
    'value.avro-confluent.url' = 'http://localhost:SCHEMA_REGISTRY_PORT',
    'value.fields-include' = 'EXCEPT_KEY'
);
