CREATE TABLE george_martin_books (
    book_id INT,
    title STRING
) WITH (
    'connector' = 'kafka',
    'topic' = 'george_martin_books',
    'properties.bootstrap.servers' = 'localhost:KAFKA_PORT',
    'scan.startup.mode' = 'earliest-offset',
    'key.format' = 'raw',
    'key.fields' = 'id',
    'value.format' = 'json',
    'value.fields-include' = 'EXCEPT_KEY'
);
