<div class="recipe-try-it-step">
  <h4 class="subtitle">
    <div>1. Initialize the project</div>
  </h4>

  <p>To get started, make a new directory anywhere you'd like for this project:</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/init.sh %}</code></pre>

  <p>Then make the following directories to set up its structure:</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/make-dirs.sh %}</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle">
    <div>2. Get Confluent Platform</div>
  </h4>

  <p>Next, create the following <code>docker-compose.yml</code> file to obtain Confluent Platform:</p>
  <pre class="snippet"><code class="dockerfile">{% include_raw recipes/merging/ksql/code/docker-compose.yml %}</code></pre>

  <p>And launch it by running:</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/docker-compose-up.sh %}</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle">
    <div>3. Start the CLI and produce events to the input streams</div>
  </h4>

  <p>To begin developing interactively, open up the KSQL CLI:<p/>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/start-cli.sh %}</code></pre>

  <p>First, you'll need to create a series of Kafka topics and streams to represent the different genres of music:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/create-inputs.sql %}</code></pre>

  <p>Let's produce some events for rock songs:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/populate-rock-stream.sql %}</code></pre>

  <p>And do the same classical music:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/populate-classical-stream.sql %}</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle">
    <div>4. Create a continuous query</div>
  </h4>

  <p>Now that the streams are populated with events, let's start to merge the genres back together. The first thing to do is set the following properties to ensure that you're reading from the beginning of the stream in your queries:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/set-properties.sql %}</code></pre>

  <p>Time to merge the individual streams into one big one. To do that, we'll use <code>insert into</code>. This bit of syntax takes the contents of one stream and pours them into another. We do this with all of the declared genres. You'll notice that we select not only the title and artist, but also a string literal representing the genre. This allows us to track the lineage of which stream each event is derived from. Note that the order of the individual streams is retained in the larger stream, but the individual elements of each stream will likely be woven together depending on timing:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/merge-streams.sql %}</code></pre>

  <p>To verify that our streams are connecting together as we hope they are, we can describe the stream that contains all the songs:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/describe-stream.sql %}</code></pre>

  <p>This should yield roughly the following output. Notice that our insert statements appear as writers to this stream:</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/outputs/describe-stream/output-0.log %}</code></pre>

  <p>Let's quickly check the contents of the stream to see that records of all genres are present. Issue the following transient query. This will block and continue to return results until its limit is reached or you tell it to stop.</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/transient-query.sql %}</code></pre>

  <p>This should yield the following output:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/outputs/transient-query/output-0.log %}</code></pre>
  
  <p>Finally, we can check the underlying Kafka topic by printing its contents:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/print-output-topic.sql %}</code></pre>

  <p>Which should yield:</p>
  <pre class="snippet"><code class="shell">{% include_raw recipes/merging/ksql/code/recipe-steps/dev/outputs/print-output-topic/output-0.log %}</code></pre>
</div>

<div class="recipe-try-it-step">
  <h4 class="subtitle">
    <div>5. Write your statements to a file</div>
  </h4>
  <p>Now that you have a series of statements that's doing the right thing, the last step is to put them into a file so that they can be used outside the CLI session. Create a file at <code>src/statements.sql</code> with the following content:</p>
  <pre class="snippet"><code class="sql">{% include_raw recipes/merging/ksql/code/src/statements.sql %}</code></pre>
</div>

