---
---

<!DOCTYPE html>
<html>
<head>
  {% include vendors.html %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ site.title }}: {{ site.data.recipes[page.static_data].title }}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/sass/main.css" />
</head>
<body class="pg-recipe">
  {% include nav.html %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="headline">
          <h1>{{ site.data.recipes[page.static_data].title }}</h1>
        </div>
        <div class="summary">
          <h2>Problem:</h2>
          <p>{{site.data.recipes[page.static_data].problem }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <a href="{{ site.github_url }}" class="btn-edit"><img src="/assets/img/icon-edit.svg" alt="Edit this page" /></a>
      {% unless page.help_wanted %}
        <div class="example">
          <h3 class="title">Example Scenario:</h3>
          <p class="text">{{ site.data.recipes[page.static_data].introduction }}</p>
        </div>
      {% endunless %}
      <h3 class="title">Solve it with:</h3>
      <div class="cflt-options">
        <select>
          {% if site.data.recipes[page.static_data].status.ksql == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/ksql.html" {% if page.stack == 'ksql' %} selected {% endif %}>
            KSQL
          </option>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kstreams == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/kstreams.html" {% if page.stack == 'kstreams' %} selected {% endif %}>
            Kafka Streams
          </option>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kafka == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/kafka.html" {% if page.stack == 'kafka' %} selected {% endif %}>
            Vanilla Kafka
          </option>
          {% endif %}
        </select>
      </div>
      <div class="cflt-tabs">
        <div class="buttons">
          {% if site.data.recipes[page.static_data].status.ksql == 'enabled' %}
          <a class="button {% if page.stack == 'ksql' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/ksql.html">
            KSQL
          </a>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kstreams == 'enabled' %}
          <a class="button {% if page.stack == 'kstreams' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/kstreams.html">
            Kafka Streams
          </a>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kafka == 'enabled' %}
          <a class="button {% if page.stack == 'kafka' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/kafka.html">
            Vanilla Kafka
          </a>
          {% endif %}
        </div>
      </div>

      {% if site.data.harnesses[page.static_data][page.stack].dev %}
      <div class="columns">
        <div class="column is-full">
          <ul id="toc" class="recipe-navigation">
            <li><a href="#try-it">Try it</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].dev.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
            <li><a href="#test-it">Test it</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].test.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
            <li><a href="#take-it-to-prod">Take it to production</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].prod.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </section>

  <div class="recipe-markup">
    {% if page.help_wanted %}
    {% include contribute-recipe.html %}
    {% else %}
    {% include recipe-content.html %}
    {% endif %}
  </div>

  {% include footer.html %}

  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script src="/assets/js/recipe.js"></script>
</body>
</html>
