---
---

<!DOCTYPE html>
<html>
<head>
  {% include vendors.html %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{ site.title }}: {{ site.data.recipes[page.static_data].title }}
  </title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/sass/main.css" />
</head>
<body class="pg-recipe">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="headline">
          <h1>{{ site.data.recipes[page.static_data].title }}</h1>
          <div class="subtitle">Problem:</div>
          <p>{{site.data.recipes[page.static_data].problem }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="title">Solve it with:</div>
      <div class="cflt-options">
        <select>
          {% if site.data.recipes[page.static_data].status.ksql == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/ksql.html" {% if page.stack == 'ksql' %} selected {% endif %}>
            KSQL
          </option>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kstreams == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/kstreams.html" {% if page.stack == 'kstreams' %} selected {% endif %}>
            Kafka Streams
          </option>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kafka == 'enabled' %}
          <option value="{{ site.data.recipes[page.static_data].slug }}/kafka.html" {% if page.stack == 'kafka' %} selected {% endif %}>
            Vanilla Kafka
          </option>
          {% endif %}
        </select>
      </div>
      <div class="cflt-tabs">
        <div class="buttons">
          {% if site.data.recipes[page.static_data].status.ksql == 'enabled' %}
          <a class="button {% if page.stack == 'ksql' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/ksql.html">
            KSQL
          </a>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kstreams == 'enabled' %}
          <a class="button {% if page.stack == 'kstreams' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/kstreams.html">
            Kafka Streams
          </a>
          {% endif %}
          {% if site.data.recipes[page.static_data].status.kafka == 'enabled' %}
          <a class="button {% if page.stack == 'kafka' %} is-selected {% endif %}" href="{{ site.data.recipes[page.static_data].slug }}/kafka.html">
            Vanilla Kafka
          </a>
          {% endif %}
        </div>
      </div>
      <div class="columns">
        <div class="column is-full">
          {% unless page.help_wanted %}
          <div class="summary">
            <p class="text">
              {{ site.data.recipes[page.static_data].introduction }}
            </p>
            <ul id="toc" class="recipe-navigation"></ul>
          </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </section>

  <div class="recipe-markup">
    {% if page.help_wanted %}
    {% include contribute-recipe.html %}
    {% else %}
    {% include recipe-content.html try_it=page.try_it test_it=page.test_it take_it_to_prod=page.take_it_to_prod %}
    {% endif %}
  </div>

  {% include footer.html %}

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.toc.fork.js"></script>
  <script src="/assets/js/recipe.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
</body>
</html>
