---
---
<!DOCTYPE html>
<html>
  <head>
    {% include gtag.js %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}: {{ site.data.recipes[page.static_data].title }}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css">
    <link rel="stylesheet" href="/assets/sass/main.css">
  </head>
  <body>
    {% include nav.html %}

    <section class="hero recipe-hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">{{ site.data.recipes[page.static_data].title }}</h1>
          <p class="recipe-problem"><strong>Problem: </strong>{{ site.data.recipes[page.static_data].problem }}</p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <strong>Solve it with:</strong>
                </div>

                <div class="level-item">
                  <div class="buttons has-addons" id="software-tab-choices">
                    {% if site.data.recipes[page.static_data].status.ksql == 'enabled' %}
                    <a class="button {% if page.stack == 'ksql' %} is-selected {% endif %}"
                       href="{{ site.data.recipes[page.static_data].slug }}/ksql.html">
                      KSQL
                    </a>
                    {% endif %}

                    {% if site.data.recipes[page.static_data].status.kstreams == 'enabled' %}
                    <a class="button {% if page.stack == 'kstreams' %} is-selected {% endif %}"
                       href="{{ site.data.recipes[page.static_data].slug }}/kstreams.html">
                      Kafka Streams
                    </a>
                    {% endif %}

                    {% if site.data.recipes[page.static_data].status.kafka == 'enabled' %}
                    <a class="button {% if page.stack == 'kafka' %} is-selected {% endif %}"
                       href="{{ site.data.recipes[page.static_data].slug }}/kafka.html">
                      Vanilla Kafka
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </nav>

            {% unless page.help_wanted %}
            <div>
              <p>{{ site.data.recipes[page.static_data].introduction }}</p>

              <ul class="recipe-navigation">
                <li><strong><a href="#try-it">Try it</a></strong></li>
                <li><strong><a href="#test-it">Test it</a></strong></li>
                <li><strong><a href="#take-it-to-prod">Take it to production</a></strong></li>
              </ul>
            </div>
            {% endunless %}
          </div>
        </div>
      </div>
    </section>

    <div>
      {% if page.help_wanted %}
      {% include contribute-recipe.html %}
      {% else %}
      {% include recipe-content.html
      try_it=page.try_it
      test_it=page.test_it
      take_it_to_prod=page.take_it_to_prod %}
      {% endif %}
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/recipe.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
