---
---

<!DOCTYPE html>
<html>
<head>
  {% include vendors.html %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.data.tutorials[page.static_data].meta-description }} using {{ site.data.stacks[page.stack].pretty }} with full code examples. Find and contribute more Kafka tutorials with Confluent, the real-time event streaming experts.">

  <title>{{ site.data.stacks[page.stack].pretty }} Tutorial: {{ site.data.tutorials[page.static_data].title }} using {{ site.data.stacks[page.stack].pretty }}</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css" />
  <link rel="stylesheet" href="{{ "/assets/sass/fonts.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/sass/main.css" | relative_url }}" />
</head>
<body class="pg-tutorial">
  {% include nav.html %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="headline">
          <h1>{{ site.data.tutorials[page.static_data].title }}</h1>
        </div>
        <div class="summary">
          <h2>Problem:</h2>
          <p>{{site.data.tutorials[page.static_data].problem }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <a href="{{ site.github_url }}" class="btn-edit"><img src="{{ "/assets/img/icon-edit.svg" | relative_url }}" alt="Edit this page" /></a>
      {% unless page.help_wanted %}
        <div class="example">
          <h3 class="title">Example use case:</h3>
          <p class="text">{{ site.data.tutorials[page.static_data].introduction }}</p>
        </div>
      {% endunless %}
      <h3 class="title">Code example:</h3>
      <div class="cflt-options">
        <select>
          {% if site.data.tutorials[page.static_data].status.ksql == 'enabled' %}
          <option value="{{ site.data.tutorials[page.static_data].slug | relative_url }}/ksql.html" {% if page.stack == 'ksql' %} selected {% endif %}>
            ksqlDB
          </option>
          {% endif %}
          {% if site.data.tutorials[page.static_data].status.kstreams == 'enabled' %}
          <option value="{{ site.data.tutorials[page.static_data].slug | relative_url }}/kstreams.html" {% if page.stack == 'kstreams' %} selected {% endif %}>
            Kafka Streams
          </option>
          {% endif %}.0
          {% if site.data.tutorials[page.static_data].status.kafka == 'enabled' %}
          <option value="{{ site.data.tutorials[page.static_data].slug | relative_url }}/kafka.html" {% if page.stack == 'kafka' %} selected {% endif %}>
            Vanilla Kafka
          </option>
          {% endif %}
        </select>
      </div>
      <div class="cflt-tabs">
        <div class="buttons">
          {% if site.data.tutorials[page.static_data].status.ksql == 'enabled' %}
          <a class="button {% if page.stack == 'ksql' %} is-selected {% endif %}" href="{{ site.data.tutorials[page.static_data].slug | relative_url }}/ksql.html">
            ksqlDB
          </a>
          {% endif %}
          {% if site.data.tutorials[page.static_data].status.kstreams == 'enabled' %}
          <a class="button {% if page.stack == 'kstreams' %} is-selected {% endif %}" href="{{ site.data.tutorials[page.static_data].slug | relative_url }}/kstreams.html">
            Kafka Streams
          </a>
          {% endif %}
          {% if site.data.tutorials[page.static_data].status.kafka == 'enabled' %}
          <a class="button {% if page.stack == 'kafka' %} is-selected {% endif %}" href="{{ site.data.tutorials[page.static_data].slug | relative_url }}/kafka.html">
            Vanilla Kafka
          </a>
          {% endif %}
        </div>
      </div>

      {% if site.data.harnesses[page.static_data][page.stack].dev %}
      <div class="columns">
        <div class="column is-full">
          <ul id="toc" class="tutorial-navigation">
            <li><a href="#try-it">Try it</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].dev.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
            <li><a href="#test-it">Test it</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].test.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
            <li><a href="#take-it-to-prod">Take it to production</a></li>
            <ul>
              {% for step in site.data.harnesses[page.static_data][page.stack].prod.steps %}
              <li><a href="#{{ step.title | slugify }}">{{ forloop.index }}. {{ step.title }}</a></li>
              {% endfor %}
            </ul>
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </section>

  <div class="tutorial-markup">
    {% if page.help_wanted %}
    {% include contribute-tutorial.html %}
    {% else %}
    {% include tutorial-content.html %}
    {% endif %}
  </div>

  {% include footer.html %}

  <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
  <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  <script src="{{ "/assets/js/tutorial.js" | relative_url }}"></script>
</body>
</html>
