CREATE TABLE ratings_by_6hr_window
WITH (
    'connector' = 'kafka',
    'topic' = 'ratings-by-6hr-window',
    'properties.bootstrap.servers' = 'localhost:KAFKA_PORT',
    'scan.startup.mode' = 'earliest-offset',
    'key.format' = 'avro-confluent',
    'key.avro-confluent.url' = 'http://localhost:SCHEMA_REGISTRY_PORT',
    'key.fields' = 'title;window_start;window_end',
    'value.format' = 'avro-confluent',
    'value.avro-confluent.url' = 'http://localhost:SCHEMA_REGISTRY_PORT',
    'value.fields-include' = 'ALL'
) AS
    SELECT title,
       COUNT(*) AS rating_count,
       AVG(rating) AS avg_rating,
       window_start,
       window_end
    FROM TABLE(TUMBLE(TABLE ratings, DESCRIPTOR(ts), INTERVAL '6' HOURS))
    GROUP BY title, window_start, window_end;
